<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/sample.css">

    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.3/apexcharts.min.js"></script>
    <style>
       
        a, u {
            text-decoration: none;
    }   

    </style>
</head>
<body>
    <div class="grid-container">

        <!-- Header -->
        <header class="header">
            <div class="menu-icon" onclick="openSidebar()">
                <span class="material-icons-outlined">menu</span>
            </div>
            <div class="header-left">
                <span class="material-icons-outlined">search</span>
            </div>
            <div class="header-right">
                
                <span class="material-icons-outlined accountCircle" id="accountCircle">account_circle</span>
                <div id="dropdownMenu" class="dropdown">
                    <a href="#">Profile</a>
                    <a href="#">Settings</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>
        </header>
        <!-- End Header -->

        <!-- Sidebar -->
        <aside id="sidebar">
            <div class="sidebar-title">
                <div class="sidebar-brand">
                    <span class="material-icons-outlined">groups</span>
                    <a href="https://smartprobegroup.com/" target="_blank">SPI HR Management</a>
                </div>
                <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
            </div>

            <ul class="sidebar-list">
                <li class="sidebar-list-item">
                    <a href="/dashboard" target="_self">
                        <span class="material-icons-outlined">dashboard</span> Dashboard
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/registration" target="_self">
                        <span class="material-icons-outlined">inventory_2</span> Add Employee
                    </a>
                </li>                
                <li class="sidebar-list-item">
                    <a href="/delete" target="_self">
                        <span class="material-icons-outlined">fact_check</span> Delete Employee
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/seeemployee" target="_self">
                        <span class="material-icons-outlined">add_shopping_cart</span> Update Employee
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="/seedata" target="_self">
                        <span class="material-icons-outlined">shopping_cart</span> See Data
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="#" target="_blank">
                        <span class="material-icons-outlined">poll</span> Reports
                    </a>
                </li>
                <li class="sidebar-list-item">
                    <a href="#" target="_blank">
                        <span class="material-icons-outlined">settings</span> Upload 
                    </a>
                </li>
            </ul>
        </aside>
        <!-- End Sidebar -->

        <!-- Main -->
        <main class="main-container">
            <div class="main-title">
                <p class="font-weight-bold">DASHBOARD</p>
            </div>
            <div class="see-user">
                <h1>Welcome, <%= username %>!</h1>
            </div>
            <div class="main-cards">
                <div class="card">
                    <a href = "/seeemployee" target="_self">
                        <div class="card-inner">
                            <p class="text-primary">Total Employees</p>
                            <span class="material-icons-outlined text-blue">groups</span>
                        </div>
                        <span class="text-primary font-weight-bold"> <%= TotalEmployees %></span>
                    </a>
                </div>
                <div class="card">
                    <a href="/see-active" target="_self">
                        <div class="card-inner">
                            <p class="text-primary"> Active Employees </p>
                            <span class="material-icons-outlined text-orange">boy</span>
                        </div>
                        <span class="text-primary font-weight-bold"> <%= activeCount %></span>
                    </a>
                </div>
                <div class="card">
                    <a href="/see-inactive" target="_self">
                        <div class="card-inner">
                            <p class="text-primary"> Inactive Employees </p>
                            <span class="material-icons-outlined text-green">directions_run</span>
                        </div>
                        <span class="text-primary font-weight-bold"> <%= inactiveCount %> </span>
                    </a>
                </div>
                <div class="card">
                    <div class="card-inner">
                        <p class="text-primary">Registered Users</p>
                        <span class="material-icons-outlined text-red">passkey</span>
                    </div>
                    <span class="text-primary font-weight-bold"><%= RegisteredUsers %></span>
                </div>
            </div>

            <div class="charts">
                <div class="charts-card">
                    <p class="chart-title">No. of Employees Added</p>
                    <div id="chart3" style="height: 300px;"></div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            fetch('/data?chartId=chart3')
                                .then(response => response.json())
                                .then(data => {
                                    const years = data.map(item => item.year);
                                    const numberOfEmployees = data.map(item => item.number_of_employees);

                                    var options = {
                                        chart: {
                                            type: 'line',
                                            height: 300,
                                            
                                        },
                                        series: [{
                                            name: 'Number of Employees',
                                            data: numberOfEmployees
                                        }],
                                        xaxis: {
                                            categories: years,
                                            title: {
                                                text: 'Year'
                                            }
                                        },
                                        yaxis: {
                                            title: {
                                                text: 'Number of Employees'
                                            },
                                            min: 0
                                        },
                                        title: {
                                            text: 'No. of Employees Added',
                                            align: 'left'
                                        },
                                        markers: {
                                            size: 4
                                        },
                                        tooltip: {
                                            shared: true,
                                            intersect: false
                                        }
                                    };

                                    var chart = new ApexCharts(document.querySelector("#chart3"), options);
                                    chart.render();
                                });
                        });
                    </script>
                </div>

                <div class="charts-card">
                    <p class="chart-title">Length of Service</p>
                    <div id="lengthOfServiceChart" style="height: 300px;"></div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            fetch('/data?chartId=chart5')
                                .then(response => response.json())
                                .then(data => {
                                    const serviceLengths = data.map(item => item.service_length);
                                    const counts = data.map(item => item.number_of_employees);

                                    var options = {
                                        chart: {
                                            type: 'bar',
                                            height: 300
                                        },
                                        series: [{
                                            name: 'Number of Employees',
                                            data: counts
                                        }],
                                        xaxis: {
                                            categories: serviceLengths,
                                            title: {
                                                text: 'Length of Service (Years)'
                                            }
                                        },
                                        yaxis: {
                                            title: {
                                                text: 'Number of Employees'
                                            },
                                            min: 0
                                        },
                                        title: {
                                            text: 'Length of Service of Employees',
                                            align: 'left'
                                        },
                                        tooltip: {
                                            shared: true,
                                            intersect: false
                                        }
                                    };

                                    var chart = new ApexCharts(document.querySelector("#lengthOfServiceChart"), options);
                                    chart.render();
                                });
                        });
                    </script>
                </div>
            </div>
        </main>
        <!-- End Main -->

    </div>

    <!-- Custom JS -->
    <script src="/js/scripts.js"></script>
</body>
</html>
